/* google font */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* layout */
/* create some global variables */
:root {
  --primary: #d3d562;
  --error: #e7195a;
  --orange: #ffa116;
}
body {
  background: #f1f1f1;
  margin: 0;
  font-family: "Roboto";
}
.App {
  position: relative;
  min-height: 100vh;
}
header {
  background: #fff;
}
header .container {
  max-width: 100vw;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #c4bebe;
}
header a {
  color: #333;
  text-decoration: none;
}
.pages {
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

/* homepage */
.home {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
}
.note-details {
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
}
.note-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}
.note-details p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}
.note-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #aca6a6;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}
.note-details .note-title {
  text-decoration: none;
}

/* note show page */
.note-show {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 20px auto;
  padding: 20px;
  width: 800px;
  background: #fff;
  border-radius: 4px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
}

.note-show button {
  background: #fff;
  color: var(--primary);
  border: 2px solid var(--primary);
  padding: 6px 10px;
  border-radius: 4px;
  font-family: "Roboto";
  cursor: pointer;
  font-size: 1em;
  margin: 10px, auto;
}

.note-show h4 {
  padding: 20px, 10px;
  box-sizing: border-box;
}

/* new note form */
.create {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px auto;
  width: 500px;
}

.create textarea {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

label,
input {
  display: block;
}
input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}
select {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}
form button {
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Roboto";
  border-radius: 4px;
  cursor: pointer;
}
div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}
input.error {
  border: 1px solid var(--error);
}

/* comments page */
.pages {
  position: relative;
}

.comments-page {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
}

.comment-details {
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
  font-size: 1.15rem;
}
.comment-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}
.comment-details p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}
.comment-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #aca6a6;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}
.comment-details div {
  position: absolute;
  left: 75%;
  top: 40%;
}
.comment-form {
  display: flex;
  flex-direction: column;
}
.comment-form textarea {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

/* navbar */
nav {
  display: flex;
  align-items: center;
}
nav a {
  margin-left: 10px;
}
nav button {
  background: #fff;
  color: var(--primary);
  border: 2px solid var(--primary);
  padding: 6px 10px;
  border-radius: 4px;
  font-family: "Roboto";
  cursor: pointer;
  font-size: 1em;
  margin-left: 10px;
}
/* auth forms */
form.signup,
form.login {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  background: #fff;
  border-radius: 4px;
}

/* to do list items */
.todo-details {
  background: #fff;
  border-radius: 10px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
}

.todo-details span {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  background: #aca6a6;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}
.todo-details p {
  margin: 0;
  font-size: 1.15rem;
  color: #555;
}
.todo-details p:hover {
  cursor: pointer;
  text-decoration: line-through;
}

/* to do list form */
.create-todo-form {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.create-todo-form fieldset {
  display: flex;
}

.create-todo-form fieldset > * {
  margin: 10px 20px;
  font-size: 1.15rem;
}

.create-todo-form input {
  margin: 5px;
}
.create-todo-form button {
  margin: 5px auto;
  /* position: absolute; */
  left: 45%;
  font-size: 1em;
}

/* pagination footer */
.pagination {
  position: relative;
  bottom: 0;
  width: 100%;
  padding: 1rem;
  padding-bottom: 3rem;
  display: flex;
  justify-content: center;
}
.pagination button {
  font-size: 1.25rem;
  margin: 5px 10px;
  border-style: none;
}
.pagination .active {
  background-color: var(--primary);
}

/* filter component */
.filter {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 10px;
}

.filter form {
  margin: 15px 10px;
}

.filter h3 {
  color: var(--orange);
}

.footer {
  background-color: #c4bebe;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer > * {
  margin: 5px 20px;
  font-size: 1.25rem;
}